# PostgreSQL database connection URL
DATABASE_URL="postgresql://username:password@localhost:5432/cafsdrychain?schema=public"

# Resend API key
RESEND_API_KEY="re_123456789"

# Port configuration
PORT=5000
